**/_darcs
**/.DS_Store
target/
node_modules/
/basilisk/
/grammars/
/extension.wasm
CLAUDE.md
client/node_modules/
server/node_modules/
client/out/
server/out/
out/
dist/
*.tsbuildinfo
**/.comphy-basilisk
.project_config
