**/_darcs
**/.DS_Store
target/
node_modules/
/basilisk/
/grammars/
CLAUDE.md
client/node_modules/
server/node_modules/
client/out/
server/out/
out/
dist/
*.tsbuildinfo
.DS_Store
**/.comphy-basilisk
.project_config
