name: Release Zed Extension

on:
  push:
    tags:
      - "v*"

jobs:
  release:
    name: Release Zed Extension
    runs-on: ubuntu-latest
    steps:
      - name: Publish Tag To Zed Extensions
        uses: huacnlee/zed-extension-action@v2.0.0
        with:
          extension-name: zed-qcc
          push-to: VatsalSy/extensions
        env:
          COMMITTER_TOKEN: ${{ secrets.COMMITTER_TOKEN }}
